1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [ ]:
var_num_entero = 25
print(var_num_entero)

2) Imprimir el tipo de dato de la constante 8.5

In [ ]:
var_const = 8.5
print(type(var_const))

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [ ]:
print(type(var_num_entero))

4) Crear una variable que contenga tu nombre

In [ ]:
var_mi_nombre = "Yaily"

5) Crear una variable que contenga un número complejo

In [ ]:
var_num_complejo = 2 + 6j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [ ]:
print(type(var_num_complejo))

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [ ]:
import math
var_pi = round(math.pi, 4)
print(var_pi)

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [ ]:
var_bouleana = True
var_string = 'True'

"""
No es lo mismo ya que una es un string y la otra es un bouleano, por lo que tienen signifi-
cados diferentes y a su tratamiento es también diferente. Por ejemplo, ocupan espacios de 
memoria diferentes
"""

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 9

In [ ]:
print(type(var_bouleana))
print(type(var_string))

10) Asignar a una variable, la suma de un número entero y otro decimal

In [ ]:
var1_ent = 26
var2_dec = 34.7
var_suma = var1_ent + var2_dec
print(var_suma)

11) Realizar una operación de suma de números complejos

In [ ]:
var_suma_comp = (1 + 3j) + (5 + 3j)
print(var_suma_comp)

12) Realizar una operación de suma de un número real y otro complejo

In [ ]:
var_suma_real_comp = 10 + (5 + 8j)
print(var_suma_real_comp)

13) Realizar una operación de multiplicación

In [ ]:
var_multip = 34 * 2
print(var_multip)

14) Mostrar el resultado de elevar 2 a la octava potencia

In [ ]:
x = 2
y = 8
var_pot = x ** y
print(var_pot)

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [ ]:
x = 27
y = 4
var_cociente = x / y
print(var_cociente)

16) De la división anterior solamente mostrar la parte entera

In [ ]:
var_cociente_entero = x // y
print(var_cociente_entero)

17) De la división de 27 entre 4 mostrar solamente el resto

In [ ]:
var_cociente_resto = x % y
print(var_cociente_resto)

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [ ]:
var_result = ((x // y) * 4) + (x % y)
print(var_result)

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [ ]:
var_texto = 'El número de cajas gusrdadas es: '
var_num = 135
mensaje = var_texto + str(var_num)
print(mensaje)

#Errores: var_num debe ir entre comillas o apostrofes para que sea alfanumerico, aunque sean números, simbolos, etec
# NO debe ser un numero

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [ ]:
var1 = 2
var2 = 2.
print(type(var1))
print(type(var2))
print(var2)

'''
Esto ocurre porque cuando usamos el '.' en python es asumido como el tipo de datos flotante. Ya que
en este legunage según lo que introducimos el intérprete identifica el tipo de datos automáticamente
'''

# La forma correcta de hacerlo es usando el siguiente comando:
# "2" == 2
# Va a arrojar False porque son 2 tipos de datos diferentes

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [ ]:
var2_to_entero = int(var2)
print(type(var2_to_entero))
print(type(var1))
# En este caso ambos tipos de datos son iguales, otra opción sería cambiar la var1 a float con la
# instrucción float(var1)

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [ ]:
a = float('3,8')

# Se debe a que se usa coma en lugar de punto y pyton no puede convertir por tanto esa cadena
# de caracteres a numeros, o sea no es un tipo de dato adecuado para esta transformación

# No arroja error si hicieramos lo siguiente:
#a = float('3.8')

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido

In [ ]:
var = 3
var -= 2
print(var)

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [4]:
print(1 << 2)

'''
    - Arroja este resultado porque en la operación se convierte los operadores a binarios y poste-
    riormente se desplazan los bits del operando de la izquierda a la izquierda cuantas posiciones
    indique el operando de la derecha y se convierte nuevamente el número a decimal y se muestra el
    resultado

    - El sistema de nueración binario se basa en 0 y 1, son cadenas de estos dos números. Para 
    llevarlo a los conocidos decimales, se requiere que se eleve la base que es el 2, a la potencia 
    adecuada, que se determina por la posición que ocupan los bits puestos a  1 restándole el # 1.
    Luego se suman todas las potencias anteriores y eso arroja su equivalente en decimal
'''
# Esto ahorra tiempo y como multiplicar el primer número por 2^(al segundo número)
# Si usamos el operador >>(sentido contrario al ejemplo), se divide el primer número en lugar de multiplicar

# Esto quiere decir que los siguientes pares de instrucciones son las mismas: 
# Par 1
print(7 << 5) # Multiplicación
print(7 * (2 ** 5))
# Par 2
# Esto quiere decir que las siguientes instrucciones son las mismas: 
print(64 >> 5) # Divición
print(64 / (2 ** 5))

4
224
224
2
2.0

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [ ]:
suma = 2 + '2'

''' 
    - No está permitido porque la operación suma no se permite en operandos de diferente tipo
    
    - Si los operandos fueran del mismo tipo los resultados serían diferentes dependiendo del tipo
     de datos. Tendríamos los 2 casos siguientes:
        1. Ambos son enteros: 2 + int('2') = 4
        2. Ambos son strings: str(2) + '2' = 22
'''

26) Realizar una operación válida entre valores de tipo entero y string

In [ ]:
print('Escribiré la palabra hola 3 veces: ' + ('Hola' * 3))
print(f'Esta es la suma de 2 y "2" convirtiendo ambos a strings: ', (str(2) + '2'))
print(f'Esta es la suma de 2 y "2" convirtiendo ambos a enteros: ', (2 + int('2')))